.footer {
    border-top: 1px solid #c6c6c6;
    padding: 48px 0;
    background: #fff;
}

ul li {
    color: #6F6464;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    list-style: none;
    margin: 10px;
}


.header-footer {
    color: #000;
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}