.footer {
    width: 100%;

    border-top: 2px solid #ff7227;
    padding: 48px 10%;
    background-color: #F5F5F5;

}

ul li {
    color: #6B7280;
    font-family: inherit;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    margin: 10px 0px;
}


.header-footer {
    color: #4B5563;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-container {
    gap: 20rem;
}

.body-footer {
    color: #6B7280;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}