.home-container {

    width: 100%;
    height: auto;
}


.product__list{
    margin-top: 30px;
}


.form__createProduct {
    width: 100%;
}

// .container-grid {
// display: grid;
// grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
// gap: 4px;
// width: 100%;
// }
.container-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.grid-item{
    width: 100%;
}

.product__list {
    width: 100%;
}