
.form__createProduct{
    width: 100%;
}
// .container-grid {
// display: grid;
// grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
// gap: 4px;
// width: 100%;
// }
.container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    }

.product__list{
    width: 100%;
}